{{#if src}}
<div style="height:{{height}}; width: {{width}};" >
    <img src={{src}} alt={{alt}}>
</div>
{{else}}
<div class="element-image">
    <span class="icon-image-placeholder"></span>
</div>
{{/if}}